In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("tips.csv")

In [3]:
dataset.head(6)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
5,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,213140353657882,Sun9679

In [4]:
min_tb = dataset["total_bill"].min()
max_tb = dataset["total_bill"].max()

In [5]:
min_tb , max_tb

(np.float64(3.07), np.float64(50.81))

In [8]:
#range is maximum - minimum
range_tb = max_tb - min_tb 
range_tb

np.float64(47.74)