In [1]:
import numpy as np
import pandas as pd

In [2]:
a = np.array([75,63,73,68,72,67])
b = np.array([90,47,43,96,93,51])

In [5]:
#standard deviation is a measure of the amount of dispertion or variation of a set of values
#less the standard deviation more reliable is the data
#standart deviation = squaretoot((sum((xi-mean)^2)/N))
#variance is just the square of standard deviation

In [6]:
#standard deviation of a and b
np.std(a),np.std(b)

(np.float64(4.068851871911234), np.float64(23.18045153428495))

In [7]:
# we can see std of a < std of b ,, hence a is more reliable

In [8]:
#variance of a and b
np.var(a),np.var(b)

(np.float64(16.555555555555557), np.float64(537.3333333333334))

In [9]:
# we can see var of a < var of b ,, hence a is more reliable

In [12]:
#lets perform on a dataset
dataset = pd.read_csv("titanic.csv")

In [13]:
dataset.head(5)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [18]:
dataset["Age"].std(),dataset["Age"].var()

(np.float64(14.12190840546256), np.float64(199.42829701227413))

In [19]:
#as the value is so big(greater than 10 std , greater than 100 var) we can say that the data in age column is so much spread

In [20]:
dataset["Fare"].std(),dataset["Fare"].var()

(np.float64(49.78204040017391), np.float64(2478.2515464045473))